@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

:root {
  --primary-color: #d1d1d19d;
  --secondary--color: #50c6e4;
  --text-color:black;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background: var(--primary-color);
  color: rgb(250, 250, 250);
  font-size: 18px;
  line-height: 1.6;
}
/* h1 {
  color: rgb(253, 253, 253);
  background-color: rgba(121, 96, 73, 0.404);
} */

h1,
h2,
h3,
p {
  margin-bottom: 10px;
}

a {
  text-decoration: none;
  color: rgb(167, 3, 3);
}

ul {
  list-style: none;
}

.object1{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 15%;
    left: 64%;
    background: rgb(106, 106, 180);
    border-radius: 50%;
}
.object2{
    height: 300px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 44%;
    background: rgb(30, 30, 116);
    border-radius: 50%;
}
.object3{
    height: 260px;
    width: 260px;
    position: absolute;
    top: 95%;
    left: 74%;
    background: rgb(67, 119, 112);
    border-radius: 50%;
}
.object4{
    height: 120px;
    width: 120px;
    position: absolute;
    top: 52%;
    left: 74%;
    background: rgb(68, 108, 145);
    border-radius: 50%;
}
.btn {
  display: inline-block;
  border: 0;
  background: var(--secondary--color);
  color: #fff;
  border-radius: 20px;
  padding: 8px 30px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
}

.btn:hover {
  transform: scale(0.98);
}

.primary-text {
  color: var(--primary-color);
}

.secondary-text {
  color: rgb(0, 0, 0);
}

.section {
  position: relative;
  padding: 0 20px;
}

/* Section Top */
.section-top {
  min-height: 660px;
  background: url("https://images.unsplash.com/photo-1595014373150-c5fce3ac3629?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1641&q=80")
    no-repeat center center/cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-top h1 {
  font-size: 70px;
  line-height: 1.3;
}

.section-top .content {
  position: absolute;
  top: 100px;
  right: 30px;
  width: 35%;
}

/*section bottom*/
.parallax {
    /* The image used */
    background-image: url("https://images.unsplash.com/photo-1509042239860-f550ce710b93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80");
  
    /* Set a specific height */
    min-height: 700px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

/* Section Stream */
.section-stream {
  min-height: 1000px;
  background: url("./test2.png") no-repeat center center/cover;
}

.section-stream h2 {
  font-size: 35px;
}

.section-stream .logo {
  width: 27%;
  position: absolute;
  top: 100px;
  left: 90px;
}

.section-stream .content {
  position: absolute;
  width: 50%;
  top: 130px;
  right: 70px;
}

.section-stream .content > div,
.section-grid > div {
  background: #50c6e4;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

/* Section Grid */
.section-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  text-align: center;
}

.section-grid p {
  color: var(--text-color);
}

.section-grid .dot {
  font-size: 40px;
}

/* Footer */
.footer {
  border-top: var(--text-color) 1px solid;
  padding: 30px;
  margin-top: 20px;
}

.footer ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background-color: black;
}

/* Mobile */
@media (max-width: 700px) {
  .section-top .content,
  .section-stream .logo,
  .section-stream .content {
    position: static;
    width: 100%;
  }

  .section-top {
    min-height: 200px;
    padding-top: 20px;
  }

  .section-top .content {
    text-align: center;
  }

  .section-top .content h1 {
    font-size: 45px;
  }

  .section-stream {
    min-height: 400px;
  }

  .section-stream .logo {
    width: 50%;
    display: block;
    margin: 30px auto;
  }


  .section-grid {
    display: block;
    margin-top: 1px;
  }

  .footer ul {
    display: block;
  }
}
